{% extends 'base.html' %}
{% block title %} Авторизация не удалась {% endblock %}
{% block content %}

<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h4 class="mb-5">Неверный логин, пароль или ваш доступ ограничен.</h4>
        <h6>Обратитесь к Администратору календаря.</h6>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.png') }}" alt="" />
      </div>
    </div>
  </section>
</main>

{% endblock %}