{% extends "base.html" %}
{% block title %} Добавить итог события {%endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<main>
  <section class="container my-5">
    <div class="'row">
      <h1>Добавить итог события "{{ event.name }}"</h1>

      <div class="col-12 col-lg-7 my-5">
        <form method="POST" novalidate>
          {{ form.csrf_token }}

          {{ form.summary(class="form-control form-control-lg py-3 mb-3", placeholder=form.summary.label.text,
          value=event.comment) }}
          <p>
            {% if form.summary.errors %}
            {% for error in form.summary.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
            {% endif %}
          </p>

          {{ form.submit(class="button px-5 py-3 btn") }}
          <br>
          <br>
        </form>

        <p class="py-3 mb-3">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <span style="color: red">{{ message }}</span>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </p>


      </div>
    </div>
  </section>
</main>
{% endif %}
{% endblock %}